langchain
langchain_community
langchain_core
langchain_groq
langchain_huggingface
langchain_chroma
langchain_openai
langchain_experimental
transformers
sentence-transformers
python-dotenv
streamlit
ipykernel
chromadb
streamlit_chat
pypdf
PyPDF2
bs4
openai
llamaapi
protobuf==3.20.0
pysqlite3-binary==0.5.3
pandas
matplotlib
streamlit-mic-recorder
pysqlite3-binary
asyncio==3.4.3
docx2txt
faiss-cpu
