langchain
langchain_community
langchain_core
langchain_groq
langchain_huggingface
langchain_chroma
langchain_openai
langchain_experimental
transformers
sentence-transformers
python-dotenv
streamlit
ipykernel
chromadb==0.5.3
streamlit_chat
pypdf
PyPDF2
bs4
openai
llamaapi
protobuf==3.20.0
pysqlite3==0.4.6
sqlite-utils==3.11.0
