langchain==0.0.178
langchain-community==0.0.24
langchain-core==0.0.142
langchain-groq==0.0.41
langchain-huggingface==0.0.43
langchain_chroma==0.0.141
langchain_openai==0.0.51
langchain_experimental==0.0.43
transformers==4.21.3
sentence-transformers==2.1.0
python-dotenv==0.20.0
streamlit==1.16.0
ipykernel==6.16.0
chromadb==0.5.3
streamlit_chat==0.0.16
pypdf==3.0.0
PyPDF2==2.10.8
bs4==4.11.1
openai==0.25.0
llamaapi==0.2.0
protobuf==3.20.0
